name: C/C++ Win Client

on:
  workflow_dispatch:
  #push:
    #branches: [ master ]
  #pull_request:
    #branches: [ master ]

jobs:
  build-windows:
    runs-on: windows-2019
  
    steps: 
    - name: Checkout repository
      uses: actions/checkout@v3
      with: 
        fetch-depth: 0
        
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1.1.3
        
    - name: Build release
      run: |
        msbuild multiplayer.sln -target:client
        mkdir bugfixedhl-windows
        mkdir bugfixedhl-windows\client
        copy cl_dll\msvc\Debug\client.dll bugfixedhl-windows\client\
        copy network\delta.lst bugfixedhl-windows
        copy Readme.txt bugfixedhl-windows
      
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: bugfixedhl-windows
        path: bugfixedhl-windows
