name: C/C++ Windows

on:
  workflow_dispatch:
  #push:
    #branches: [ master ]
  #pull_request:
    #branches: [ master ]

jobs:
  build-windows-client:
    runs-on: windows-2019
  
    steps: 
    - name: Checkout repository
      uses: actions/checkout@v3
      with: 
        fetch-depth: 0
        
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1.1.3
        
    - name: Build release
      run: |
        msbuild multiplayer.sln -target:client -configuration:Release
        mkdir bugfixedhl-windows
        mkdir bugfixedhl-windows\client
        copy cl_dll\msvc\Release\client.dll bugfixedhl-windows\client\
        copy cl_dll\msvc\Release\client.pdb bugfixedhl-windows\client\
        copy network\delta.lst bugfixedhl-windows
        copy Readme.txt bugfixedhl-windows
      
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: bugfixedhl-windows
        path: bugfixedhl-windows
        
  build-windows-server:
    runs-on: windows-2019
  
    steps: 
    - name: Checkout repository
      uses: actions/checkout@v3
      with: 
        fetch-depth: 0
        
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1.1.3
        
    - name: Build release
      run: |
        msbuild multiplayer.sln -target:client -configuration:Release
        mkdir bugfixedhl-windows
        mkdir bugfixedhl-windows\dlls
        mkdir bugfixedhl-windows\dlls-debug
        copy dlls\msvc\Release\hl.dll bugfixedhl-windows\dlls\
        copy dlls\msvc\Release\hl.pdb bugfixedhl-windows\dlls\
        copy network\delta.lst bugfixedhl-windows
        copy Readme.txt bugfixedhl-windows
      
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: bugfixedhl-windows
        path: bugfixedhl-windows
